.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
ul,li{
  list-style: none;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.changeNumberBox{
  display: flex;
  align-items: center;
  justify-content: center;
  .left,.right{
    color: #fff;
    background-color: #2563eb;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 100%;
  }
  .center{
    margin: 0 20px;
  }
}

.toCenter{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.box{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.btn{
  width: 100px;
  height: 36px;
  line-height: 36px;
  background-color: #2563eb;
  color: white;
}
